
$gradient: (90deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 81%);


@font-face {
    font-family: font;
    src: url('../font/JosefinSans-VariableFont_wght.ttf');
    font-size: 16px;
}

@font-face {
    font-family: font2;
    src: url('../font/JosefinSans-SemiBold.ttf');
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    max-height: 100vh;
    @media (max-width: 1100px) {
        flex-wrap: wrap;
    }
}

main{
    width: 60%;
    background: linear-gradient($gradient);
    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: font;
        
    @media (max-width: 1100px) {
        width: 100%;
        align-items: normal;
    }
}

span, p{
    color: hsl(0, 36%, 70%);
    font-family: font;
}

h1{
    letter-spacing: 15px;
    color: hsl(0, 6%, 24%);
    font-family: font2;
    font-weight: 100;
}

p{
    width: 95%;
    line-height: 29px;
    @media (max-width: 1100px) {
        width: 100%;
        text-align: center;
    }
}

body main input, input::placeholder{
    color: hsl(0, 36%, 70%);
}

input{
    width: 90%;
    height: 60px;
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%);
    padding-left: 30px;
    background-color: $gradient;
}
main button[role="button"]{
    margin-left: -100px;
    width: 100px;
    height: 60px;
    border-radius: 30px;
    font-size: 0px;
    overflow: hidden;
    background: linear-gradient(90deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 81%);
    img{
        width: 20%;
    }

    &:hover{
        background: hsl(0, 80%, 86%);
    }
}
footer{
    width: 40%;
    @media (max-width: 1100px) {
        width: 100%;
        display: flex;
        padding: 0;
        picture, img{
            width: 100%;
            height: 100%;
            background-color: red;
        }
    }
}


img[alt="icon-error"]{
    position: fixed;
    display: none;
    margin-top: -1px;
    margin-left: 300px;
}
#error{
    border: 2.5px solid hsl(0, 93%, 68%);
}

@media (max-width: 1100px) {

}