

@font-face {
    font-family: fontGeral;
    src: url('../../fonts/Karla-VariableFont_wght.ttf');
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    height: 100vh;
    font-family: fontGeral;
    font-weight: 400;
    background-color:  hsl(204, 43%, 93%);
    padding: 2%;
    color: hsl(218, 22%, 67%);
    font-size: 16px;
}


main{
    width: 1440px;
    height: 70%;
    margin: 0 auto;
    padding: 2%;

    @media (max-width: 700px) {
        width: 375px;
        height: 90%;
    }
}

section{
    width: 47%;
    height: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 1px 23px -7px rgba(91, 91, 91, 0.129);
    overflow: hidden;
    @media (max-width: 700px) {
        width: 70%;
        height: 100%;

        *{
            font-size: 14px;
        }
    }
}

h1{
    color:  hsl(179, 62%, 43%);
    padding: 6% 6% 0% 6%;

}

h1 + div{
    padding: 0% 6% 4% 6%;
}


h1 + div p:nth-child(1){
    color:  hsl(71, 73%, 54%);
}
h1 + div p:nth-child(2){
    width: 90%;
    line-height: 28px;
    @media (max-width: 700px) {
        width: 100%;
    }
}

.block{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    height: 100%;
    
    @media (max-width: 700px) {
        height: 100%;
        flex-direction: column;
    }
}

.block__element{
    width: 46%;
    height: 60%;
    color: white;
    padding: 2%;
    .text-element:nth-child(1){
        font-size: 1.1em;
    }

    @media (max-width: 700px) {
        width: 100%;
        height: 28%;
        padding-right: 2%;
    }
}

.block__element:nth-child(1){
    background-color: hsl(179, 62%, 43%);

    
    :is(.text-element, .element){
        display: block;
        width: 80%;
        height: 20%;
        margin: 0% auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        text-align: left;
    }
}

.block__element:nth-child(2){
    background-color: #4abebd;
    :is(.text-element){
        display: block;
        width: 80%;
        height: 20%;
        margin: 0% auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        text-align: left;
    }

    p{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 6px;
        font-weight: 200;
        font-size: 14px;
        @media (max-width: 700px) {
            margin-bottom: 2px;
        }
    }

}

.block .block__element .price{
    width: 100%;
    height: 65%;
    font-size: 2.2em;
    margin-left: 0;
    display: flex;
    align-items: center;
    color: white;

    .per-time{
        display: flex;
        width: 64%;
        height: 30%;
        margin: 0 auto;
        font-size: .5em;
        font-weight: 400;
        color: hsl(204, 43%, 93%);
    }
}

main .block .block__element:nth-child(1) .block__element-btn-type{
    width: 100%;
    height: 80%;
    background-color: hsl(71, 73%, 54%);
    color: white;
    margin-top: 4%;
    border-radius: 6px;
    text-decoration: none;
    display: grid;
    align-content: center;
    text-align: center;
    box-shadow: -1px 1px 23px -7px rgba(91, 91, 91, 0.129);
    
    @media (max-width: 700px) {
        height: 100%;
    }
}

.text-element{
    font-weight: 700;
}