@mixin center($type, $align){
    display: flex;
    align-items: $align;
    justify-content: $type;
}

$max-desktop: "max-width: 900px";

@font-face {
    font-family: Font;
    src: url('../../font/Outfit-Regular.ttf');
    font-weight: 400;
    font-size: 18px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    transition: .3s ease;
}
:is(a, button, li){
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    transition: .3s ease;
}

body{
    padding: 1%;
    min-width: 375px;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: Font;
    @include center(center, center);
    flex-direction: column;
    color: hsl(215, 51%, 70%);
}



main{
    width: 22%;
    height: 80%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 14px;
    padding: 2%;
    @include center(center, center);
    flex-direction: column;
    gap: 15px;
    @media ($max-desktop) {
        width: 70%;
        height: 70%;
        padding: 5%;
    }
}

.main_element{
    width: 100%;
    height: 60%;  

    a:hover, a:hover h2{
        color: hsl(178, 100%, 50%);
    }
}

.is-content-info{
    height: 40%;
    @include center(end, normal);
    flex-direction: column;
    gap: 18px;
}

.main_element--a{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    div{
        width: 100%;
        height: 100%;
        background: url('../../images/image-equilibrium.jpg') no-repeat;
        background-size: cover;
        border-radius: 12px;
    }

    &:hover{
        position: relative;
        background-color: hsl(178, 100%, 50%);
        div{
            background-color: hsl(178, 100%, 50%);
            background-image: none;
            opacity: 45%;
        }
        .no-viwe{
            display: block;
            width: 30%;
            margin: 0 auto;
            top: 35%;
            right: 35%;
            position: absolute;
        }
    }
}

.no-viwe{
    display: none;
}

h2{
    color: hsl(0, 0%, 100%);
}

h2 + p{
    width: 95%;
    letter-spacing: 1.12px;
    line-height: 22px;
}

.main_element__text-div{
    padding-bottom: 6%; 
    @include center(space-between, center);
    border-bottom: 1px solid hsl(215, 32%, 27%);
    p{
        width: 40%;
        @include center(start, center);
        gap: 8px;
    }

    p:nth-child(1){
        color: hsl(178, 100%, 50%);
    }

    p:nth-child(2){
        @include center(end, center);
    }
}

.main_element__info-div{
    padding: 2% 0;    
    @include center(start, center);
    gap: 15px;
    
    img{
        width: 10%;
        border-radius: 50%;
        border: 2px solid hsl(0, 0%, 100%);
    }

    a{
        color: hsl(0, 0%, 100%);
    }
}