
@font-face {
    font-family: font_1;
    src: url('../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
    font-weight: 700;
}

@font-face {
    font-family: font_2;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: 500;
}

.attribution { font-size: 11px; text-align: center; font-family: font_2;}
.attribution a { color: hsl(228, 45%, 44%)};
.attribution *{font-family: font_2;}


*{
    padding: 0;
    margin: 0;
}

body{
    width: 1440px;
    min-width: 375px;
    min-height: 100vh;
    height: 100%;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    font-family: font_1;
    padding: 3% 2%;
    display: grid;
    align-content: center;
    gap: 30px;

    @media (max-width:700px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.container{
    width: 40%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    overflow: hidden;
    border-radius: 16px; 

    .mobile{
        display: none;
    }
    
    @media (max-width:700px) {
        width: 80%;
        min-height: 680px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;

        .desktop{
            display: none;
        }

        .mobile{
            display: inline;
        }
    }
}

header{
    width: 50.0%;
    height: 100%;
    @media (max-width:700px) {
        width: 100%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

header img{
    width: 100%;
    height: 100%;
}

main{
    width: 48.5%;
    section{
        width: 80%;
        margin: 0 auto;
        display: block;
        height: 100%;
        padding: 4% 2%;
    }

    @media (max-width:700px) {
        width: 100%;
        margin-top: -4%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.text-element{
    font-family: font_2;
    padding: 6% 0;
    line-height: 22px;
}

h1{
    font-size: 1em;
    letter-spacing: 5px;
}

p{
    font-size: 14px;
}

.sub-title{
    width: 80%;
    font-size: 1.8em;
    color: hsl(212, 21%, 14%);
}

.price-sect{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.new-price{
    font-size: 1.8em;
    color: hsl(158, 36%, 37%);
}

.new-price ~ span{
    text-decoration: line-through;
    font-size: small;
}

.btn-md{
    width: 100%;
    height: 11%;
    border: 0;
    border-radius: 12px;
    margin-top: 10%;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-weight: 700;

    @media (max-width:700px) {
        margin-top: 3%;
        margin-bottom: 20px;
    }
}